<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdsoft.datamin.mapper.JDProductMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, pid, pname, price, ptype, vid, rvecount, pstat, cat1, cat1Code, cat2,
		cat2Code, cat3, cat3Code, purl, ctime, utime
	</sql>

	<select id="selectCount" resultType="java.lang.Integer">
		select count(1) from
		jd_product
	</select>
</mapper>